[metadata]
name = HALchemy
version = {{version}}
description = Toolkit for creating clients of HAL based Hypermedia APIs.
long_description = file: README.md
long_description_content_type = text/markdown
license = MIT
classifiers = 
	Development Status :: 1 - Planning
	License :: OSI Approved :: MIT License
	Programming Language :: Python :: 3
	Operating System :: OS Independent
	Intended Audience :: Developers
	Topic :: Internet :: WWW/HTTP
	Topic :: Utilities
url = https://github.com/pointw-dev/HALchemy
author = Michael Ottoson
author_email = michael@pointw.com

[options]
packages = find:
include_package_data = True
zip_safe = False
install_requires = bleach==6.0.0
	    certifi==2023.5.7
	    charset-normalizer==3.1.0
	    docutils==0.20.1
	    idna==3.4
	    importlib-metadata==6.7.0
	    jaraco.classes==3.2.3
	    keyring==24.2.0
	    markdown-it-py==3.0.0
	    mdurl==0.1.2
	    more-itertools==9.1.0
	    pkginfo==1.9.6
	    Pygments==2.15.1
	    pywin32-ctypes==0.2.2
	    readme-renderer==40.0
	    requests==2.31.0
	    requests-toolbelt==1.0.0
	    rfc3986==2.0.0
	    rich==13.4.2
	    six==1.16.0
	    twine==4.0.2
	    urllib3==2.0.3
	    webencodings==0.5.1
	    zipp==3.15.0

